<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Creative Contact Form Flat Responsive Widget Template :: w3layouts</title>
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Creative Contact Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!-- font-awesome icons -->
<link href="{{ url_for('static', filename='css/awesome.css') }}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://unpkg.com/vue"></script><script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.3"></script>
<style>
  .title {
    color: #ffffff;
  }
  .my-button {
    outline: none;
    color: #FFFFFF;
    padding: .8em 4em;
    font-size: .9em;
    margin: 1em 0 0 1em;
    cursor: pointer;
    -webkit-appearance: none;
    background: #8BC34A;
    border: 2px solid #8BC34A;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
  }
</style>
</head>
<body>
  <div class="wthree-dot">
	<div class="profile">
	  <div class="wrap">
      <h1>讀取資料</h1>            
      <div class="contact-form">
        <div id="app">
          <form id="read-shares" action="http://127.0.0.1:3000/shares" method="get">
          <!--<form vue-form name="myform" @submit.prevent="onSubmit">-->
            <div class="w3l-contact-left">
              <div class="styled-input agile-styled-input-top">
                <input type="text" v-model="model.company" id="company" name="company" required="">
                <label>公司</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="text" v-model="model.date" id="date" name="date">
                <label>日期</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="text" v-model="model.serial" id="serial" name="serial">
                <label>序號</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="text" v-model="model.shares" id="shares" name="shares"> 
                <label>股數</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="text" v-model="model.sheets" id="sheets" name="sheets">
                <label>張數</label>
                <span></span>
              </div>
            </div>
            <div class="w3l-contact-right">
              <div class="styled-input agileits-input">
                <textarea v-model="model.remarks" id="remarks" name="remarks"></textarea>
                <label>備註</label>
                <span></span>
              </div>
              <input type="submit" id="submit2" name="submit2" value="送出">
              <button class="my-button">前往增加 &gt;</button>
            </div>
            <div class="clear"> </div>
          </form>	
        </div>	
			</div>                        
			<div class="wthree_footer_copy">
			    <p>© 2017 Creative Contact Form. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
  </div>
  <script>
    $('.my-button').click(function(event) {
        var domain = window.location.hostname;
        $(location).attr('href', 'http://' + domain + ":3000/addpage");
    });
    $("#read-shares").submit(function(event) {      
      event.preventDefault();

      var $form = $( this ),
          url = $form.attr( 'action' );

        $.get(url, { company: $('#company').val() },
        function(data) {
            var json_data = JSON.parse(data); 
            $('#company').val(json_data['company']);
            $('#shares').val(json_data['retshares']);
            $('#sheets').val(json_data['sheets']);
            $('#date').val(json_data['date']);
            $('#serial').val(json_data['serial']);
            console.log("Data: " + data + "\nStatus: " + status);           
        });      
    });

  /*
    var url = "http://127.0.0.1:3000/shares"
    
    new Vue({
      el: '#app',
      data: {
          myform: {},
          model: {shares: 0, sheets: 0}
      },
      methods: {
          onSubmit: function() {
              console.log(this.model);
              
              this.$http.get(url, {params: this.model}).then((response) => {
                  console.log("success");
                  this.model.shares = response.data.retshares
                  this.model.sheets = response.data.sheets
              }, (response) => {
                  console.log("error");
              });
          }
      }
    });
    */  
</script>
</body>
</html>
